<h1>マイページ</h1>
<div class="users_show_left">
   <h4 class="users_names"> <strong> ユーザー名 </strong> </h4>
   <div> <%= @user.nickname %> さん </div>
   <div> <%= link_to "編集", edit_user_path(@user.id), class: 'btn btn-success btn-user-show' %> </div>
   <div> <%= link_to "退会", user_path, class: 'btn btn-danger btn-user-show', method: :'delete', "data-confirm" => "本当に退会しますか？" %> </div>
</div>